.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.slider {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  overflow: auto;
  max-width: 1786px;
  & > img {
    width: 336px;
    height: 336px;
    margin-right: 24px;
  }
}

.slider::-webkit-scrollbar {
  display: none;
}

.title {
  color: #000;
  font-size: 2.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.75rem;
}
