.footer {
  margin-top: 65px;
  min-height: 700px;
  width: 100%;
  background-color: var(--pink);
  padding: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    display: flex;
    margin-top: 100px;
    gap: 160px;
  }
}
