.container {
  display: flex;
  flex-wrap: wrap;
  width: 1166px;
  height: 1300px;
  .title {
    margin-top: 15px;
    font-size: 1.7rem;
  }
  .price {
    font-size: 1.2rem;
    margin: 15px 0;
  }
  .star {
    margin: 20px;
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 3;
  }
  .card_container {
    margin: 25px 25px 0 0;
  }
  .image {
    object-fit: cover;
    position: relative;
    border: 1px solid bisque;
    width: 353px;
    height: 353px;
    border-radius: var(--radius);
  }
}

.button {
  width: 200px;
  height: 58px;
  border: 1px solid #0126de;
  border-radius: var(--radius);
  color: var(--color-blue);
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;

  &:hover {
    background-color: var(--hovered-btn);
  }
}
