.header {
  margin: 0 auto;
  max-width: 1884px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 16px 24px;
  height: 87px;

  .links {
    display: flex;
  }

  .navmenu > a {
    margin-left: 15px;
  }
}
